.icon-clock{
  width: 13px;
  height: 13px;
  background: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66667 13.3333C2.98477 13.3333 0 10.3485 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3485 0 13.3333 2.98477 13.3333 6.66667C13.3333 10.3485 10.3485 13.3333 6.66667 13.3333ZM7.33333 6.66667V3.33333H6V8H10V6.66667H7.33333Z" fill="%23333333"/></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-eye{
  width: 14px;
  height: 12px;
  background: url('data:image/svg+xml,<svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6C0.627007 2.58651 3.61765 0 7.21244 0C10.8072 0 13.7978 2.58651 14.4248 6C13.7978 9.41347 10.8072 12 7.21244 12C3.61765 12 0.627007 9.41347 0 6ZM7.21244 9.33333C9.05337 9.33333 10.5458 7.84093 10.5458 6C10.5458 4.15905 9.05337 2.66667 7.21244 2.66667C5.37147 2.66667 3.87908 4.15905 3.87908 6C3.87908 7.84093 5.37147 9.33333 7.21244 9.33333ZM7.21244 8C6.10784 8 5.21241 7.1046 5.21241 6C5.21241 4.8954 6.10784 4 7.21244 4C8.31697 4 9.21244 4.8954 9.21244 6C9.21244 7.1046 8.31697 8 7.21244 8Z" fill="%23333333"/></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-tip{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20ZM9 13V15H11V13H9ZM9 5V11H11V5H9Z" fill="%23337AB7"/></svg>');
  background-position: center center;
  border-radius: 100%;
}
h1 {
  color: var(--black);
  margin-bottom: 16px;
}

h2{
  color: var(--black);
}

.sc-articles, .sc-articleSingle{
  margin-bottom: 100px;
}
.articles-pagination__wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.articles-tags__wrap {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 125%;
  color: var(--black);
  border-bottom: solid 1px rgba(56, 52, 59, 0.1);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.articles-tags__wrap li {
  display: inline-block;
}
.articles-tag__item {
  display: inline-block;
  padding: 8px 16.5px;
  color: var(--black);
  text-decoration: none;
  background-color: var(--light-grey);
}
.articles-tag__item:hover{
  color: var(--blue);
}
.articles-tag__item._active{
  background-color: var(--blue);
  color: #fff!important;
  pointer-events: none;
}
.articles-tag__item._active{
  pointer-events: none;
}

.articles-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.article-item{
  width: calc(33.333% - 10.7px);
  background-color: var(--light-grey);
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: var(--black);
  text-decoration: none;
  transition: 0.3s;
}
.article-item.is-hidden {
  display: none;
}
.article-item:hover{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.article-item__img-wrap{
  display: inline-block;
  width: 100%;
  position: relative;
  padding-top: 58.5%;
}
.article-item__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.article-item__img-tags{
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  z-index: 1;
  padding: 12px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #FFFFFF;
}
.article-item__img-tags li{
  background-color: var(--blue);
  padding: 5px 16px;
}
.article-item__content{
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 143%;
  overflow: hidden;
  display: -webkit-box;       
  -webkit-line-clamp: 6;      
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.article-item__title{
  margin-bottom: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: var(--blue);
}
.article-item__details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  gap: 16px;
  color: var(--black_60);
  align-items: center;
  margin-top: auto;
}
.article-item__date{
  display: flex;
  gap: 0px 14px;
  flex-wrap: wrap;
}
.article-item__view{
  display: flex;
  align-items: center;
  gap: 14px;
}
.article-item__view-item{
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}
.article-item__view .icon{
  flex-shrink: 0;
  opacity: 0.6;
}
@media (max-width: 1199px) {
  .articles-wrap{
    gap: 14px;
  }
  .article-item{
    padding: 14px;
    width: calc(50% - 7px);
  }

  .article-item__img-tags li{
    padding: 5px 12px;
  }
  .article-item__title{
    font-size: 17px;
  }
  
  .article-item__details{
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .sc-articles, .sc-articleSingle{
    margin-bottom: 40px;
  }
  .articles-tags__wrap{
    gap: 6px;
  }
  .article-item__img-tags{
    font-size: 13px;
  }
  .article-item__title{
  font-size: 16px;
  }
  .articles-pagination__wrap {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .articles-wrap{
    gap: 8px 0px;
  }
  .article-item{
    width: 100%;
  }
  .article-item__img-wrap{
    min-height: 184px;
  }
}

article{
  padding-top: 14px;
  line-height: 125%;
}
article h2{
  margin-bottom: 24px;
}
article .wrap-ol{
  border: solid 1px #C4C4C4;
  padding: 26px 26px;
  max-width: 658px;
  margin-top: 40px;
  margin-bottom: 40px;
}
article .wrap-ol p{
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  margin-bottom: 18px;
}
article ol a,
article ul a{
  text-decoration: none;
  color: var(--black);
}
article ul a:hover{
  color: var(--blue);
}
article ol {
  counter-reset: item;
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0;
}
article ol ol{
  margin-left: -35px;
}
article ol ol li{
  padding-left: 45px;
}
article ol ol li:before{
  font-weight: 400;
}
article ol > li {
  display: block;
  counter-increment: item;
  position: relative;
  margin-top: 10px;
  padding: 6px 12px;
  background-color: var(--light-grey);
  padding-left: 35px;
}
article ol > li::before {
  content: counters(item, ".") ". ";
  position: absolute;
  left: 12px;
  color: var(--blue);
  font-weight: 600;
}
article .wrap-content{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}
article .wrap-right{
  max-width: 369px;
  width: 100%;
  flex-shrink: 0;
}
article .wrap-right.full img{
  height: 100%;
  object-fit: cover;
}
article ul{
  padding-left: 0;
  list-style: none;
}
article ul li{
  padding-left: 16px;
  margin-bottom: 10px;
  position: relative;
}
article ul li:before{
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--blue);
  position: absolute;
  top: 9px;
  left: 0;
}
article table{
  width: 100%;
  text-align: left;
  border-spacing: 1px; 
  
}
article table thead{
  background-color: var(--blue);
  color: #fff;
}
article table th,
article table td{
  padding: 12px 16px;
}

article table tbody tr{
  background-color: #F9F9F9;
}
article table tbody tr:nth-of-type(even){
  background-color: #EFEFEF;
}
article .tip{
  background-color: var(--light-grey);
  padding: 26px 26px 26px 64px;
  position: relative;
}
article .icon-tip{
  position: absolute;
  top: 26px;
  left: 26px;
}
article .tip a{
  color: var(--blue);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}
article .tip a:hover{
  text-decoration: underline;
}
article .tip p:last-of-type{
  margin-bottom: 0;
}
@media (max-width: 991px) {
  article .wrap-ol{
    padding: 16px 16px;
  }
  article .tip{
    padding: 16px 16px 16px 54px;
  }
  article .icon-tip{
    top: 16px;
    left: 16px;
  }
  article .wrap-right{
    max-width: 239px;
  }
}
@media (max-width: 767px) {
  article h2{
    margin-bottom: 16px;
  }
  article .wrap-content{
    flex-wrap: wrap;
  }
   article .wrap-right{
    max-width: 100%;
    text-align: center;
   }
  article .wrap-right img{
    max-height: 240px;
  }
  article .wrap-right.full img{
    max-height: none;
  }
  article .wrap-table{
    overflow: auto;
    width: 100%;
  }
  article table{
    min-width: 520px;
  }
  article table th{
    min-width: 148px
  }
}
@media (max-width: 576px) {
  article .wrap-table{
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.articleSingle-product__wrap{
  display: flex;
  width: 100%;
  gap: 12px 24px;
  margin-bottom: 16px;
}
.productItem{
  max-width: 273px;
  flex-shrink: 0;
}
.articleSingle-product__content h3{
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 767px) {
  .articleSingle-product__wrap{
    gap: 12px 16px;
  }
  .productItem{
    max-width: 259px;
  }
}
@media (max-width: 576px) {
  .articleSingle-product__wrap{
    flex-wrap: wrap;
  } 
  .articleSingle-product__content h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .productItem{
    max-width: 100%;
    flex-direction: row;
    gap: 7px;
    justify-content: space-between;
  }
  .productItem .custom-swiper,
  .productItem .customSwiper,
  .productItem .swiper-slide{
  height: 100%!important;
  }
  .productItem__head,
  .productItem__info{
    width: 50%;
  }
}

.article-author__wrap{
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  padding-top: 18px;
  border-top: solid 1px rgba(51, 51, 51, 0.201);
}
.article-author__txt{
  margin-bottom: 12px;
  font-size: 14px;
  opacity: 0.7;
}
.article-author{
  display: flex;
  gap: 16px;
  align-items: center;
}
.article-author__img{
  width: 52px;
  height: 52px;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #D9D9D9;
}
.article-author__name{
font-weight: 500;
font-size: 18px;
line-height: 122%;
margin-bottom: 6px;
}
.article-author__desc{
font-size: 14px;
opacity: 0.7;
}
.sc-articlesSimilar{
  padding-bottom: 140px;
}
.sc-articlesSimilar .article-item{
  width: 100%;
}
@media (max-width: 991px) {
  .sc-articlesSimilar{
    padding-bottom: 70px;
  }
  .sc-articlesSimilar .customSwiper{
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .sc-articlesSimilar .customSwiper .swiper-slide{
    max-width: 336px;
  }
}