.sc-productListing {
  padding-top: 34px;
}

.productListing__title {
  color: var(--black);
  margin-bottom: 18px;
}

.productListing__tags {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--black);
}

.productListing__tags li {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

.productListing__tags-item {
  display: inline-block;
  padding: 8px 28px;
  color: var(--black);
  text-decoration: none;
  background-color: var(--light-grey);
}
.productListing__tags-item:hover {
  background-color: var(--blue);
  color: #fff;
}

.productListing__wrap {
  display: flex;
  width: 100%;
  gap: 16px 16px;
  margin-top: 32px;
  justify-content: space-between;
}

.productListing__filter {
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  padding: 24px 10px;
}

.productListing__filter-txt {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.productListing__filter-dropdown {
  border-bottom: solid 1px rgba(0, 0, 0, 0.111);
  position: relative;
}

.productListing__filter-dropdown-head {
  padding: 17px 40px 17px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
}
.productListing__filter-dropdown-head .toggle-icon {
  position: absolute;
  right: 17px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  transform: translateY(-50%);
  border: solid 2px var(--black);
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  transition: 0.3s;
}

.productListing__filter-dropdown-panel {
  padding: 8px 12px;
}

.productListing__filter-dropdown.is-open .toggle-icon {
  transform: rotate(225deg);
}

.productListing__filter-checkbox {
  display: inline-block;
  width: 100%;
  padding: 12px 0px 12px 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  cursor: pointer;
  position: relative;
}

.productListing__filter-checkbox input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.productListing__filter-checkbox input:checked + .productListing__filter-checkbox-holder:before {
  background-color: var(--blue);
  border-color: var(--blue);
  background-image: url('data:image/svg+xml,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.87861 10.1816L16.071 0.989258L17.4852 2.40347L6.87861 13.01L0.514648 6.64614L1.92887 5.23194L6.87861 10.1816Z" fill="white"/></svg>');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 13px;
}

.productListing__filter-checkbox-holder {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 28px;
}
.productListing__filter-checkbox-holder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #A6A6A6;
  border-radius: 2px;
}

.productListing__filter-checkbox-counter {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 3px;
  background: #EBF2F8;
  border-radius: 100%;
  margin-left: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: none;
}

.productListing__filter-checkbox-counter.active {
  display: inline-block;
}

.productListing__filter-range {
  display: inline-block;
  position: relative;
  padding-bottom: 14px;
  width: 100%;
}

.productListing__filter-range-values {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productListing__filter-range-value {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 13px;
  flex-grow: 0;
  margin: 2px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(50% - 4px);
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}
.productListing__filter-range-value ._prefix {
  margin-right: 5px;
}
.productListing__filter-range-value ._suffix {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  opacity: 0.5;
  margin-left: auto;
}

.productListing__filter-range-value input {
  border: none;
  width: 100%;
  height: 100%;
}

.productListing__filter-btns {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--light-grey);
  z-index: 1;
}
.productListing__filter-btns .container {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

.productListing__filter-btn-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  border-radius: 4px;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  width: calc(50% - 6px);
}
.productListing__filter-btn-item._btn-apply {
  background-color: var(--black);
  color: #fff;
}
.productListing__filter-btn-item._btn-clear {
  border: solid 1px var(--black);
  background-color: #fff;
  color: var(--black);
}

.filter-summary-item {
  display: inline-block;
  padding: 9px 14px;
  background-color: #EBF2F8;
  font-weight: 300;
  margin-right: 9px;
  margin-bottom: 9px;
  font-size: 15px;
}
.filter-summary-item span {
  font-weight: 400;
}
.filter-summary-item .remove-filter {
  font-size: 19px;
  margin-left: 13px;
  cursor: pointer;
}
.filter-summary-item .remove-filter:hover {
  opacity: 0.5;
}

.productListing__filter-range-sliderTrack {
  width: 100%;
  height: 1px;
  border-radius: 5px;
}

.productListing__filter-range input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: transparent;
  pointer-events: none;
}

.productListing__filter-range input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1px;
}

.productListing__filter-range input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 1px;
}

.productListing__filter-range input[type=range]::-ms-track {
  appearance: none;
  height: 1px;
}

.productListing__filter-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border: solid 1px #A6A6A6;
  background-color: var(--light-grey);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

.productListing__filter-range input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #A6A6A6;
  background-color: var(--light-grey);
  pointer-events: auto;
  border: none;
}

.productListing__filter-range input[type=range]::-ms-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #A6A6A6;
  background-color: var(--light-grey);
  pointer-events: auto;
}

.productListing__filter-range input[type=range]:active::-webkit-slider-thumb {
  background-color: var(--blue);
  border-color: var(--blue);
}

.productListing__content {
  max-width: 851px;
}

.productListing__content-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: solid 1px rgba(56, 52, 59, 0.108);
  margin-bottom: 16px;
}

.productListing__content-head-filterBtn {
  display: flex;
  align-items: center;
  padding: 11px 24px;
  background: var(--light-grey);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 15px;
  margin-right: 15px;
}
.productListing__content-head-filterBtn .icon {
  margin-right: 10px;
}
.productListing__content-head-filterBtn.active .indicator {
  display: inline-block;
}
.productListing__content-head-filterBtn .indicator {
  display: none;
  background-color: #D60000;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-left: 4px;
  vertical-align: top;
}

.productListing__content-clearFilters {
  display: none;
  border: none;
  background: none;
  outline: none;
  text-decoration: underline;
  padding: 0 14px;
  margin-top: 9px;
  margin-bottom: 16px;
  cursor: pointer;
}
.productListing__content-clearFilters:hover {
  text-decoration: none;
}
.productListing__content-clearFilters.show {
  display: inline-block;
}

.productListing__content-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.productItem {
  max-width: calc(33.3333333% - 10.7px);
}

.productListing__content-pagination-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.productListing__content-pagination {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}
.productListing__content-pagination .pag__arrow.disabled {
  pointer-events: none;
}
.productListing__content-pagination .pag__arrow.disabled a {
  opacity: 0.5;
}
.productListing__content-pagination .pag__arrow:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  border: solid 1px #333333;
  pointer-events: none;
}
.productListing__content-pagination .pag__arrow.prev {
  margin-right: 7px;
}
.productListing__content-pagination .pag__arrow.next {
  margin-left: 7px;
}
.productListing__content-pagination .pag__arrow.prev:before {
  border-top: none;
  border-right: none;
  left: 4px;
}
.productListing__content-pagination .pag__arrow.next:before {
  border-left: none;
  border-bottom: none;
  right: 4px;
}
.productListing__content-pagination .pag__arrow:hover:before {
  border-color: #fff;
}

.productListing__content-pagination li {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin: 0 2px;
}
.productListing__content-pagination li.active a, .productListing__content-pagination li:hover a {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}
.productListing__content-pagination li a {
  color: #414141;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 14px;
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (max-width: 1199px) {
  .productListing__content {
    max-width: 701px;
  }
  .productListing__filter-range-value {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .productListing__filter-container {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .productListing__tags {
    font-size: 15px;
  }
  .productListing__tags-item {
    padding: 7px 24px;
  }
  .productListing__wrap {
    flex-wrap: wrap;
  }
  .productListing__filter {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #fff;
    z-index: 999;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 85px;
    overflow: auto;
  }
  .productListing__filter.show {
    transform: none;
  }
  .productListing__filter-range-value {
    width: calc(50% - 4px);
  }
  .productListing__content {
    max-width: 100%;
  }
  .productListing__content-wrap {
    gap: 14px;
  }
  .productItem {
    max-width: calc(33.3333333% - 9.4px);
  }
  .productListing__filter-mobBack {
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    line-height: 143%;
    color: #333333;
    background-color: #F6F6F6;
    padding: 7px 8px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 32px;
  }
  .productListing__filter-txt {
    font-size: 32px;
  }
  .productListing__filter-wrap {
    background-color: var(--light-grey);
  }
  .productListing__filter-dropdown-head {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .productListing__tags-item {
    padding: 7px 20px;
  }
  .productListing__wrap {
    margin-top: 18px;
  }
  .productListing__content-wrap {
    gap: 12px;
  }
  .productItem {
    max-width: calc(50% - 6px);
  }
  .productListing__content-pagination-wrap {
    justify-content: center;
  }
  .productListing__content-pagination li a {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 576px) {
  .sc-productListing {
    padding-top: 25px;
  }
  .productListing__tags {
    font-size: 14px;
  }
  .productListing__tags-item {
    padding: 7px 18px;
  }
  .productListing__tags li {
    margin-right: 7px;
    margin-bottom: 7px;
  }
  .productListing__content-head-filterBtn {
    font-size: 14px;
    padding: 10px 12px;
    margin-right: 10px;
  }
  .productListing__content-pagination {
    flex-wrap: wrap;
  }
  .productListing__content-pagination li a {
    width: 42px;
    height: 42px;
  }
  #productListing__filter-checked-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .filter-summary-item {
    margin: 0;
    font-size: 14px;
    max-width: calc(50% - 4px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 20px;
  }
  .filter-summary-item .remove-filter {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .productListing__filter-btn-item {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .productItem {
    max-width: 100%;
  }
  .productListing__content-pagination li a {
    width: 35px;
    height: 35px;
  }
  .productListing__filter {
    padding-bottom: 128px;
  }
  .productListing__filter-btns {
    height: 128px;
  }
  .productListing__filter-btns .container {
    gap: 8px;
  }
  .productListing__filter-btn-item {
    width: 100%;
  }
}
.seoBlock__content {
  line-height: 20px;
}

.seoBlock__img {
  width: 100%;
  height: 100%;
}
.seoBlock__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .seoBlock__content h3 {
    font-size: 19px;
  }
  .seoBlock__content h4 {
    font-size: 17px;
  }
  .seoBlock__img {
    height: 220px;
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .seoBlock__img {
    height: 200px;
  }
  .seoBlock__content h3 {
    font-size: 17px;
  }
  .seoBlock__content h4 {
    font-size: 16px;
  }
}